<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<%= stylesheet_link_tag  media: 'all' 'style.css'%>
	 		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  			<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  			<%= csrf_meta_tags %>
		<title><%= @page_title %></title>
		</head>
	<body>
		<div id="container">
			<header id="header_top">
				<div id="logo"></div>
				<h1>"We Remind For You"</h1>
				<nav id="navbar">
					<ul>
						<li><%= link_to ("Home | "), tasks_path %>
						</li>
						<li><%= link_to ("Create Reminder | "), new_task_path %>
						</li>
						<li><%= link_to ("View Reminder |"), viewall_tasks_path%>
						</li>
					</ul>
				<br>
				<hr>
				</nav>
			</header>